<div class="page-header">
    <h2 id="room-name">{{ title }}</h2>
</div>

<form id="join-form" action="#" class="container">
    <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="nickname">Enter nickname</label>
        <div class="col-xs-6">
            <input id="nick" class="form-control" type="text">
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary">Join</button>
        </div>
    </div>
</form> 
<div id="chat">
    <div class="col-xs-2">
        <h2 class="smallContainer-header" id="currentRoom">Lobby</h2>
        <div class="smallContainer-list" id="usersList"></div>
    </div>

    <form id="chat-form" action="#" class="col-xs-7">
        <div id="chat-window" class="chat-window">
        </div>

        <div class="form-group">
            <textarea id="message" rows="7" class="form-control" placeholder="Your message.."></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-xs-right">Send</button>
        </div>
    </form>

    <div class="col-xs-3 ">
        <div class="smallContainer">
            <h2 class="smallContainer-header">All available rooms</h2>
            <div class="smallContainer-list" id="roomsList"></div>
        </div>
        <div class="userInterface">
            <form id="changeNick-form" class="userInterface-item" action="#">
                <h3 class="userInterface-item-header">Change nick</h3>
                <div class="input-group">
                    <input type="text" class="form-control" id="changeNick-newNick">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Change</button>
                    </span>
                </div>
            </form>
            <form id="createRoom-form" class="userInterface-item" action="#">
                <h3 class="userInterface-item-header">Create room</h3>
                <div class="input-group">
                    <input type="text" class="form-control" id="createRoom-newRoom">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>


<script id="chat-status-template" type="text/x-handlebars-template">
<div class="chat-line">
    <div class="chat-line-time">\{{ time }}</div>
    <div class="chat-line-status">\{{ status }}</div>
</div>
</script>

<script id="chat-message-template" type="text/x-handlebars-template">
<div class="chat-line">
    <div class="chat-line-time">\{{ time }}</div>
    <div class="chat-line-nick">\{{ nick }}</div>
    <div class="chat-line-status">\{{ status }}</div>
</div>
</script>

<script id="chat-warning-template" type="text/x-handlebars-template">
<div class="chat-warning">
    <div class="chat-line-time">\{{ time }}</div>
    <div class="chat-line-status">\{{ warning }}</div>
</div>
</script>

<script id="user-list-template" type="text/x-handlebars-template">
    <div class="chat-line">\{{ nick }}</div>
</script>

<script id="room-list-template" type="text/x-handlebars-template">
    <div class="chat-line">
        <div class="room-name">\{{ name }}</div>
        <div class="chat-line-time">\{{ number }}</div>
        <button type="button" class="btn btn-success btn-small pull-right btn-join" id="\{{ name }}">Join</button>
    </div>
</script>